/* fonts */
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../../assets/fonts/Neucha-Regular.ttf');
}

@font-face {
  font-weight: 400;
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'OpenSans';
  src: url('../../assets/fonts/OpenSans-Bold.ttf');
}

/* ---- RESET RULES ---- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

/* Make images easier to work with */
img {
  display: block;

  max-width: 100%;
}

/* ---- DEFAULTS STYLE ---- */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

  overflow-x: hidden;

  color: var(--dark);
  font-size: 16px;
  font-family: 'OpenSans', sans-serif;
  line-height: 1.6em;
}

/* Main container */
.container {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;

  z-index: 0;
}

/* Set title defaults */
h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: 'Neucha', sans-serif;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}


a:not([class]) {
  text-decoration-skip-ink: auto;
}

button,
input {
  font: inherit;
}

/* default color */
:root {
  --white: #fff;
  --white-light: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-hover: #ea7600;
  --main-dark: #42413c;
  --dark: #2a2626;
  --dark-light: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* ---- CSS STYLE ---- */

/* Background */
.bg-main-dark {
  background: var(--main-dark);
}

.bg-brown {
  background: var(--brown);
}

.bg-light {
  background: var(--light);
}

.bg-before {
  overflow: hidden;
}

.bg-before::before {
  position: absolute;

  content: '';

  width: 100%;
  height: 100%;
  opacity: 0.1;

  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position */
.pos-relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

/* Text column width */
.col-item {
  flex-basis: 540px;
}

/* Text */
.how-manifest {
  padding: 5px 10px;

  font: normal bold 14px/17px OpenSans, sans-serif;

  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-light-dark {
  color: var(--dark-light);
}

.text-white {
  color: var(--white);
}

.text-orange {
  color: var(--main);
}

/* Video */
.video {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

/* Card */
.card-title {
  list-style: none;

  display: block;
  width: 350px;
  height: auto;

  font-size: 52px;
  line-height: 62px;
}

.card {
  display: block;
  width: 350px;
  height: auto;

  color: var(--main-dark);
  padding: 24px;

  background: var(--light);

  text-decoration: none;
}

.card:focus,
.card:focus h3,
.card:focus a,
.card:hover,
.card:hover h3,
.card:hover a {
  color: var(--white);
  background: var(--main);
}

/* Image */
img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.image-main {
  position: absolute;

  content: '';

  height: 525px;

  top: 55px;
  right: -270px;

  z-index: -1;
}

/* Button */
.btn-header {
  background: var(--main);

  color: var(--white);

  display: inline-block;

  padding: 12px 24px;

  font: bold 16px/26px 'OpenSans';
  border: none;

  text-transform: uppercase;
  text-decoration: none;
}

.btn-header:hover {
  background: var(--main-hover);

}

/* Margin */
.mt-100 {
  margin-top: 100px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-200-negative {
  margin-bottom: -200px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-16 {
  margin-bottom: 16px;
}

/* Padding */
.pt-200 {
  padding-top: 200px;
}

/* Font-size */
.fs-16 {
  font-size: 16px;
}

.fs-52 {
  font-size: 52px;
}